$fa-font-path: "../webfonts";

$dark_purple: #3600AD;
$light_purple: #6119ff;
$dark_blue: #4e00fa;
$dark_yellow: #ada200;
$light_yellow: #faea12;
$dark_grey: #414141;

$primary: $light_purple;
$link: $dark_blue;
$info: $dark_yellow;